@font-face {
  font-family:"Raleway";
  src: url("Raleway-Regular.ttf") format("truetype");
}

body {
  margin: 5% 1%;
  background: #f5fffe;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

details {
  transition: all 0.6s ease-in-out;
  max-height: 50px;
}

details[open] {
  overflow: hidden;
  max-height: 500px;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display:none;
}

summary {
  text-align: center;
  font-weight: bold;
  padding: 1%;
  margin: 1% 0;
  border-radius: 10px;
}

.create-summary {
  background: #d8f0ef;
}

.update-summary {
  background: #ccffcc;
}

summary:hover {
  transition: 0.5s;
  transform: scale(1.01) perspective(1px);
  cursor: pointer;
}

.post {
  margin: 1% 0%;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #d8f0ef, #afe0e9);
  cursor: pointer;
}

.post-content {
  padding: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.post .user {
  padding: 2px;
  border-radius: 7px;
  background: #78c4d4;
  border-style: solid;
  border-width: 1px;
  border-color: #4bb8cf;
}

.post-ops *{
  margin: 0% 0.1em;
}

.delete-button {
  font-size: 16px;
  color: white;
  padding: 2px;
  border-radius: 7px;
  background: #f53d3d;
  border-style: solid;
  border-width: 1px;
  border-color: #d94747;
}

.delete-button:hover {
  background: #f90505;
}

.comment {
  border-radius: 10px;
  border-style:ridge;
  border-color: #4bb8cf;
  margin-top: 0.7%;
}

.comment * {
  padding: 2px;
}

input {
  font-size: 16px;
}

input[type='submit'] {
  color: white;
  padding: 2px;
  border-radius: 7px;
  background: #3ebf31;
  border-style: solid;
  border-width: 1px;
  border-color: #339c28;
}

input[type='submit']:hover {
  background: #339c28;
}

input#load-more {
  position: absolute;
  width: 10%;
  right: 45%;
  color: white;
  padding: 5px;
  border-radius: 7px;
  background: Grey;
  border-style: solid;
  border-width: 1px;
  border-color: Grey;
}

input#load-more:hover {
  background: DimGrey;
}

.post-form * {
  min-width: 25%;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
}

.post-form textarea {
  font-size: 16px;
  min-width: 50%;
  resize: none;
}

@media screen and (max-width: 900px) {
  body {
    margin: 1% 1% 15% 1%;
  }

  summary {
    width:98%;
    padding: 4px;
  }

  .post-form input[type='text'] {
      width:95%;
  }

  .post-form textarea {
      width:95%;
  }

  input#load-more {
    position: absolute;
    width: 30%;
    right: 35%;
  }
}
